@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
  background: #8800f78c;
  color: #fff;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(12,8,0);
  background: linear-gradient(90deg, rgba(12,8,0,1) 0%, rgba(17,17,17,1) 50%, rgba(8,0,7,1) 100%);
    // gradient inspired by the identity of the team ---> #0c0800 , #111111 , #080007
    // original ui ux design uses #060606
}

section{
  @apply w-full md:py-12 py-6;

    main &:first-of-type{
    @apply pt-0 mt-[7rem];
  }

  main &.banner{
    @apply p-0 m-0;

    .banner-container{
      background: url("../public/banner.jpg") no-repeat;
      background-size: cover;
      background-position-x: center;
    }
  }
}

.section-title{
  @apply w-full p-4 mb-6 flex flex-col justify-center items-center gap-3 text-center;
  article & {
      @apply mb-0;
        h2{
          @apply md:text-3xl text-lg;
        }
    }
  h1{
    @apply md:text-4xl uppercase;
  }
  h2{
    @apply md:text-3xl uppercase;
  }
  p{
    @apply md:text-sm text-[#adadad];
  }
}

.player{
  img{
    filter:saturate(0) drop-shadow(2px 0px 10px black);
  }
  &:hover,&:focus{
    @apply bg-[#2f2300] border-yellow-400;
    backdrop-filter: blur(1px);
    
    img{
      filter: saturate(1) drop-shadow(2px 0px 10px black);
    } 
    .layer{
      opacity: 1;
    }
  }
}

article{
  &:hover,&:focus{
    img{
      @apply saturate-100 border-yellow-300;
    }
    .section-title{
      h2{
        @apply text-yellow-300;        
      }
    }
  }
  img{
    @apply saturate-0 shadow-md duration-150 ease-in-out border border-transparent rounded-lg;
  }
  .section-title h2{
    @apply duration-150 ease-in-out;
  }
}